semanticdb
elpa
*.elc
ac-complish.dat
bookmarks
ede-projects.el
projectile-bookmarks.eld
saveplace.el
smex-items
recentf
*.dat
.directory
.semanticdb
projectile.cache
ido.last
srecode-map.el
auto-save-list
*.o
*.out
TAGS
GTAGS
CTAGS
GRTAGS
GPATH
cscope*
build
*.debug
*.release
bin
obj
*.a
temp
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# redguardtoo`s git ignore
request/
.depend
pyim/
anaconda-mode/
.wg-file.el
/url/cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
/custom.el
*.elc
company-statistics-cache.el
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
eshell/
semanticdb/
*.swp
*~
abbrev_defs
/swank
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history
recentf
places
ido.last
projectile.cache
.orig
.unpacked
srecode-map.el
custom-set-variables.el
.smex-items
